from django.db import models
from django.utils import timezone

class Booking(models.Model):
    client = models.ForeignKey(Client, on_delete=models.CASCADE)  # Link to the Client model
    service = models.ForeignKey(Service, on_delete=models.CASCADE)  # Link to Service
    booking_date = models.DateTimeField(auto_now_add=True)  # Date and time of booking
    preferred_date = models.DateField(null=True, blank=True)  # Preferred date for the service
    preferred_time = models.TimeField(null=True, blank=True)  # Preferred time for the service
    staff = models.ForeignKey(Employee, on_delete=models.SET_NULL, null=True, blank=True)  # Link to the Employee (staff)
    status = models.CharField(max_length=20, choices=[
        ('Pending', 'Pending'),
        ('Confirmed', 'Confirmed'),
        ('Cancelled', 'Cancelled'),
    ], default='Pending')  # Status of the booking
    additional_notes = models.TextField(blank=True, null=True)  # Optional additional notes

    def __str__(self):
        return f"Booking for {self.service.service_name} by {self.client.first_name} on {self.booking_date.strftime('%Y-%m-%d %H:%M:%S')}"

    @property
    def subcategory(self):
        return self.service.subcategory  # Accessing the subcategory through the service

    @property
    def category(self):
        return self.service.subcategory.category  # Accessing the category through the subcategory

