{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>For women - GlamourQuest Hair Salon</title>
    <link rel="stylesheet" href="{% static 'css/style-1.css' %}">
</head>
<body>
    <header>
        <h1 style="color: #fff;">womens's Hair Services</h1>

    </header>
    <main>
        <section>
            <h2>Feathered Brunette Lob Cut</h2>
            <img src="{% static 'images/hair-women-1.jpg' %}" alt="Haircut" class="service-image">
            <p>Standard Cut - $25</p>
            <p>Fade Cut - $30</p>
        </section>
        
        <section>
            <h2>Mid-Length Two-Tier Cut for Thick Hair</h2>
            <img src="{% static 'images/hair-women-2.jpg' %}" alt="Beard Trim" class="service-image">
            <p>Beard Trim - $15</p>
            <p>Beard Shaping - $20</p>
        </section>
        <section>
            <h2>Thick Longer Cut with Textured Ends </h2>
            <img src="{% static 'images/hair-women-3.jpg' %}" alt="Beard Trim" class="service-image">
            <p>Beard Trim - $15</p>
            <p>Beard Shaping - $20</p>
        </section>
    </main>
   
</body>
</html>
